<html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>API Playground</h1>
<p>Welcome to the API Playground!</p>

<div class="api-test">
    <h2>Test API Endpoint</h2>
    <form id="api-test-form">
        <div class="mb-3">
            <label for="movie-title" class="form-label">Movie Title</label>
            <input type="text" class="form-control" id="movie-title" placeholder="Enter movie title">
        </div>
        <button type="submit" class="btn btn-primary" onclick="fetchmovie()">Test API</button>
        <pre id="movieResponse" class="">
            sd
            ds
            ds
        </pre>
</div>

<script>
    function resetInput() {
        document.getElementById('movie-title').value = '';
        document.getElementById('movieResponse').textContent = '';
    }

    function fetchmovie() {
        const title = document.getElementById('movie-title').value;
        fetch(`/api/movies?title=${encodeURIComponent(title)}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('movieResponse').textContent = JSON.stringify(data, null, 2);
            })
            .catch(error => {
                console.error('Error fetching movie:', error);
                document.getElementById('movieResponse').textContent = 'Error fetching movie data.';
            });
    }
</script>

{% endblock %}

</html>