<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ohodnoť.to</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<style>
    .cont-gradient {
        height: 320px;
        background: linear-gradient(to bottom, #b70000 10%, #212529 100%);
        /* #da0000 */
    }
</style>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand ms-auto ms-md-0" href="/">Ohodnoť.to</a>

            <div class="collapse navbar-collapse" id="navbarNav">

                <div class="navbar-nav d-md-none text-center">
                    <hr class="text-white-50"> <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/profile">Profile</a>
                    <a class="nav-link" href="/notifications">Notifications</a>
                    <a class="nav-link" href="/settings">Settings</a>
                    <div class="d-flex justify-content-center py-2">
                        <button type="button" class="btn btn-danger btn-sm w-50">Log out</button>
                    </div>
                </div>

                <div class="navbar-nav d-none d-md-flex me-auto">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/settings">Settings</a>
                    <a class="nav-link" href="/add">Add</a>
                </div>

                <div class="navbar-nav d-none d-md-flex ms-auto align-items-center">
                    <a class="nav-link" href="/profile">Profile</a>
                    <a class="nav-link" href="/notifications">Notifications</a>
                    <button type="button" class="btn btn-danger btn-sm ms-3">Log out</button>
                </div>

            </div>
        </div>
    </nav>

    <div>
        {% block content %}
        {% endblock %}
    </div>

        <footer class="py-3 mb-4 px-0 container-fluid cont-gradient">
            <ul class="nav justify-content-center border-bottom border-dark pb-3 mb-3">
                <li class="nav-item">
                    <a href="/about" class="nav-link px-2 text-body-secondary">About</a>
                </li>
                <li class="nav-item">
                    <a href="/tos" class="nav-link px-2 text-body-secondary">Terms of Service</a>
                </li>
                <li class="nav-item">
                    <a href="/contacts" class="nav-link px-2 text-body-secondary">Contacts</a>
                </li>
            </ul>
            <p class="text-center text-muted">© 2026 Ohodnoť.to</p>
        </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>